.header {
    background: 
    url('../images/start-screen-background.png'),
    linear-gradient(338deg, rgba(38,36,37,1) 23%, rgba(91,72,58,1) 100%);
    padding-top:30px;
    padding-inline: 35px;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;
    }

    &__logo-title {
        color: var(--color-primary);
    }

    &__logo-subtitle {
        font-family: var(--font-family-second);
        font-weight: 400;
        font-size: 13px;
        letter-spacing: 0.1;
        color: var(--color-light-xl);
    }
    
    &__menu {
        margin-left: auto;
        font-size: 15px;

        &-list {
            display: flex;
            align-items: center;
            gap: 35px;
        }

        &-link {
            font-family: var(--font-family-second);
            color: var(--color-dark-s);
            font-weight: 400;
            line-height: 160%;
            display: inline-flex;
            height: 60px;
            align-items: center;
        }

        &-link:hover {
            color: var(--color-light-s);
            text-decoration: underline;
            text-decoration-color: var(--color-primary);
            text-decoration-thickness: 3px;
            text-underline-offset: 0.4em;
        }
    } 
}