@use '../media';

.about {
    background-color: var(--color-light-xl);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 125px;
    min-height: 588px;

    @include media.tablet {
        min-height: 1048px;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }

    @include media.mobile {
        min-height: 974px;
        margin-top: 0px;
        gap: 15px;
    }
    

    &__main {
        max-width: 430px;
        min-height: 380px;

        @include media.mobile {
            max-width: 300px;
            min-height: 494px;
        }

        &--h {
            max-width: 370px;
            min-height: 90px;
            color: var(--color-dark-l);
            font-size: 35px;

            @include media.mobile {
                text-align: center;
                font-size: 25px;
                max-width: 300px;
                line-height: 130%;
                letter-spacing: 0.06em;
            }
        }

        &--sub-h {
            max-width: 430px;
            font-family: var(--font-family-second);
            font-weight: 400;
            font-size: 15px;
            line-height: 160%;
            color: var(--color-dark-xl);
            margin-top: 25px;

            @include media.mobile {
                text-align: justify;
                margin-top: 0px;
            }

        }
    }
}

