@use '../media';

.button {
    height: 52px;
    background-color: var(--color-primary);
    border-radius: 100px;
    border: none;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06;
    color: var(--color-dark-xxxl);

    &--header {
        width: 207px;
    }

    &--header:hover {
        background-color: transparent;
        color: var(--color-light-s);
        border: 2px solid var(--color-primary);
    }
}