.mobile-overlay {
    width: 100%;
    height: 100%;

    margin: 0;
    border: none;
    background-color: var(--color-dark-xxxl);

    &:modal {
        max-width: 100%;
        max-height: 100%;
    }

    &--close-button-wrapper {
        display: flex;
        justify-content: end;
    }

    &--close-button {
        width: 60px;
        aspect-ratio: 1;
        border: 0;
        background-color: transparent;
        position: relative;
        padding: 0;

        &::after {
            content: '';
            width: 2px;
            height: 30px;
            background-color: var(--color-primary);
            position: absolute;

            top: 25%;
            left: 75%;

            box-shadow: 8px 0 var(--color-primary), -8px 0 var(--color-primary);
        }
    }

    &--list {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:40px;
    }

    &--body {
        margin-top: 170px;
    }

    &--link {
        font-family: var(--font-family-second);
        font-weight: 400;
        font-size: 32px;
        line-height: 160%;
        color: var(--color-dark-s);
    }

    &--link:hover {
        color: var(--color-light-s);
        text-decoration: underline;
        text-decoration-color: var(--color-primary);
        text-decoration-thickness: 3px;
        text-underline-offset: 0.4em;
    }
}