@font-face {
    font-family: "Georgia";
    src: url('../fonts/Georgia.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Georgia";
    src: url('../fonts/Georgia-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Arial";
    src: url('../fonts/ArialMT.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Arial";
    src: url('../fonts/Arial-ItalicMT.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}