@use 'mixins';
@use 'media';


body {
    .container {
    @include media.tablet {
        padding-inline: 30px;
    }

    @include media.mobile {
        padding-inline: 20px;
    }    
    }
}
a,
button,
input,
textarea,
svg * {
    transition-duration: var(--transition-duration);
}

h1 {
    font-family: var(--font-family-based);
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06;
}

h2 {
    font-family: var(--font-family-based);
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;
}

h3 {
    font-family: var(--font-family-based);
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0.06;
    @include mixins.fluid-text(35px, 25px);
}

h4 {
    font-size: 20px;
    font-family: var(--font-family-based);
    font-weight: 400;
    line-height: 115%;
    letter-spacing: 0.06;
}

h5 {
    font-size: 15px;
    font-family: var(--font-family-based);
    font-weight: 400;
    line-height: 110%;
    letter-spacing: 0.06;
}

a {
    text-decoration: none;
}
