$desktop-above: 1281px;
$desktop: 1280px;

$tablet-above: 1021px;
$tablet: 1020px;

$mobile-above: 769px;
$mobile: 767px;

@mixin desktop {
    @media (max-width: $desktop){
        @content;
    }
}

@mixin desktop-above {
    @media (min-width: $desktop-above) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: $tablet){
        @content;
    }
}

@mixin tablet-above {
    @media (min-width: $tablet-above) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: $mobile){
        @content;
    }
}

@mixin mobile-above {
    @media (min-width: $mobile-above) {
        @content;
    }
}

@mixin hover {
    @media (hover: hover) {
        &:hover {
            @content;
        }
    }

    @media (hover: none) {
        &:active {
            @content;
        }
    }
}

