@use "sass:math";

@mixin fluid-text($min, $max) {
  font-size: clamp(
    #{$min}px,
    #{math.div($max, 1280) * 100}vw,
    #{$max}px
  );
}

@mixin reset-link() {
    color: inherit;
     &, &:hover {
        text-decoration: none;
     }
}
