:root {
    --color-dark-s: #CDCDCD;
    --color-dark-m: #B2B2B2;
    --color-dark-l: #545454;
    --color-dark-xl: #4C4C4C;
    --color-dark-xxl: #444444;
    --color-dark-xxxl: #292929;
    --color-light-s: #FAFAFA;
    --color-light-x: #F6F6F6;
    --color-light-xl: #ffffff;
    --color-primary: #F1CDB3;
    --color-primary-light: #FDDCC4;
    --start-screen: #5B483A, #262425;
    --screen-background-color: #211F20;
    --footer-screen: #513D2F, #1A1A1C;

    --button-border: 2px solid #F1CDB3;
    --border-radius: 100px;

    --font-family-base: 'Georgia', sans-serif;
    --font-family-second: 'Arial', sans-serif;

    --button-width: 207px;
    --button-heigth: 52px;
    --button-circle-width: 52px;

    --container-width: 1200px;
    --container-padding-x: 20px;

    --transition-duration: 0.2s;
}