@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure, fieldset):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
  scrollbar-gutter: stable;
  /**
    Плавный скролл
   */
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Убирает серую подсветку при тапе на мобильных устройствах (iOS/Android)
 */
button {
  -webkit-tap-highlight-color: transparent;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут fill со значением 'none' или начинается с 'url')
 */
:where([fill]:not([fill=none],
[fill^=url])) {
  fill: currentColor;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут stroke со значением 'none')
 */
:where([stroke]:not([stroke=none],
[stroke^=url])) {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

h1 {
  font-family: var(--font-family-based);
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06;
}

h2 {
  font-family: var(--font-family-based);
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
}

h3 {
  font-family: var(--font-family-based);
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.06;
  font-size: clamp(25pxpx, 2.734375pxvw, 35pxpx);
}

h4 {
  font-size: 20px;
  font-family: var(--font-family-based);
  font-weight: 400;
  line-height: 115%;
  letter-spacing: 0.06;
}

h5 {
  font-size: 15px;
  font-family: var(--font-family-based);
  font-weight: 400;
  line-height: 110%;
  letter-spacing: 0.06;
}

a {
  text-decoration: none;
}

:root {
  --color-dark-s: #CDCDCD;
  --color-dark-m: #B2B2B2;
  --color-dark-l: #545454;
  --color-dark-xl: #4C4C4C;
  --color-dark-xxl: #444444;
  --color-dark-xxxl: #292929;
  --color-light-s: #FAFAFA;
  --color-light-x: #F6F6F6;
  --color-light-xl: #ffffff;
  --color-primary: #F1CDB3;
  --color-primary-light: #FDDCC4;
  --start-screen: #5B483A, #262425;
  --screen-background-color: #211F20;
  --footer-screen: #513D2F, #1A1A1C;
  --button-border: 2px solid #F1CDB3;
  --border-radius: 100px;
  --font-family-base: "Georgia", sans-serif;
  --font-family-second: "Arial", sans-serif;
  --button-width: 207px;
  --button-heigth: 52px;
  --button-circle-width: 52px;
  --container-width: 1200px;
  --container-padding-x: 20px;
  --transition-duration: 0.2s;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (max-width: 768px) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (min-width: 769px) {
  .visible-mobile {
    display: none !important;
  }
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.header {
  background: url("../images/start-screen-background.png"), linear-gradient(338deg, rgb(38, 36, 37) 23%, rgb(91, 72, 58) 100%);
  padding-top: 30px;
  padding-inline: 35px;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}
.header__logo-title {
  color: var(--color-primary);
}
.header__logo-subtitle {
  font-family: var(--font-family-second);
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 0.1;
  color: var(--color-light-xl);
}
.header__menu {
  margin-left: auto;
  font-size: 15px;
}
.header__menu-list {
  display: flex;
  align-items: center;
  gap: 35px;
}
.header__menu-link {
  font-family: var(--font-family-second);
  color: var(--color-dark-s);
  font-weight: 400;
  line-height: 160%;
  display: inline-flex;
  height: 60px;
  align-items: center;
}
.header__menu-link:hover {
  color: var(--color-light-s);
  text-decoration: underline;
  text-decoration-color: var(--color-primary);
  text-decoration-thickness: 3px;
  text-underline-offset: 0.4em;
}/*# sourceMappingURL=styles.css.map */