@use 'normalize';
@use 'mixins';
@use 'globals';
@use 'media';
@use 'variables';
@use 'utils';


@use "./blocks/button.scss";
@use "./blocks/burger-button";
@use "./blocks/mobile-overlay";
@use "./blocks/header";
@use "./blocks/about"



