@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure, fieldset):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
  scrollbar-gutter: stable;
  /**
    Плавный скролл
   */
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Убирает серую подсветку при тапе на мобильных устройствах (iOS/Android)
 */
button {
  -webkit-tap-highlight-color: transparent;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут fill со значением 'none' или начинается с 'url')
 */
:where([fill]:not([fill=none],
[fill^=url])) {
  fill: currentColor;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут stroke со значением 'none')
 */
:where([stroke]:not([stroke=none],
[stroke^=url])) {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@media (max-width: 1020px) {
  body .container {
    padding-inline: 30px;
  }
}
@media (max-width: 767px) {
  body .container {
    padding-inline: 20px;
  }
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

h1 {
  font-family: var(--font-family-based);
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
}

h2 {
  font-family: var(--font-family-based);
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
}

h3 {
  font-family: var(--font-family-based);
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.06em;
  font-size: clamp(35pxpx, 1.953125pxvw, 25pxpx);
}

h4 {
  font-size: 20px;
  font-family: var(--font-family-based);
  font-weight: 400;
  line-height: 115%;
  letter-spacing: 0.06em;
}

h5 {
  font-size: 15px;
  font-family: var(--font-family-based);
  font-weight: 400;
  line-height: 110%;
  letter-spacing: 0.06em;
}

a {
  text-decoration: none;
}

:root {
  --color-dark-s: #CDCDCD;
  --color-dark-m: #B2B2B2;
  --color-dark-l: #545454;
  --color-dark-xl: #4C4C4C;
  --color-dark-xxl: #444444;
  --color-dark-xxxl: #292929;
  --color-light-s: #FAFAFA;
  --color-light-l: #F6F6F6;
  --color-light-xl: #ffffff;
  --color-primary: #F1CDB3;
  --color-primary-light: #FDDCC4;
  --start-screen: #5B483A, #262425;
  --screen-background-color: #211F20;
  --footer-screen: #513D2F, #1A1A1C;
  --button-border: 2px solid #F1CDB3;
  --border-radius: 100px;
  --font-family-base: "Georgia", sans-serif;
  --font-family-second: "Arial", sans-serif;
  --button-width: 207px;
  --button-heigth: 52px;
  --button-circle-width: 52px;
  --container-width: 1200px;
  --container-padding-x: 40px;
  --transition-duration: 0.4s;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (max-width: 767px) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (min-width: 769px) {
  .visible-mobile {
    display: none !important;
  }
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.about-pet::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

.about-pet {
  border: none;
  max-width: 952px;
  min-height: 552px;
  top: 50%; /* центрируем по вертикали */
  left: 50%; /* центрируем по горизонтали */
  transform: translate(-50%, -50%);
  background-color: transparent;
  overflow: visible;
}
@media (max-width: 1020px) {
  .about-pet {
    width: 682px;
    min-height: 402px;
  }
}
@media (max-width: 767px) {
  .about-pet {
    max-width: 271px;
    min-height: 393px;
  }
}
.about-pet--close-button-wrapper {
  display: flex;
  justify-content: flex-end;
}
.about-pet--close-button {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 2px solid var(--color-primary);
}
@media (max-width: 767px) {
  .about-pet--close-button {
    margin-right: -40px;
  }
}
.about-pet--close-button:hover {
  background-color: var(--color-primary);
}
.about-pet--body {
  max-width: 900px;
  min-height: 500px;
  background-color: var(--color-light-s);
  border-radius: 9px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 45px;
}
@media (max-width: 1020px) {
  .about-pet--body {
    max-width: 630px;
    min-height: 350px;
  }
}
@media (max-width: 767px) {
  .about-pet--body {
    width: 240px;
    min-height: 341px;
    justify-content: center;
  }
}
@media (max-width: 1020px) {
  .about-pet--body__image {
    width: 350px;
    height: 350px;
  }
}
@media (max-width: 767px) {
  .about-pet--body__image {
    display: none;
  }
}
.about-pet--body__description {
  max-width: 351px;
  min-height: 362px;
}
@media (max-width: 1020px) {
  .about-pet--body__description {
    max-width: 260px;
    min-height: 303px;
  }
}
@media (max-width: 767px) {
  .about-pet--body__description {
    width: 240px;
    min-height: 341px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.about-pet--body__description--h {
  font-weight: 400;
  font-size: 35px;
  list-style: 130%;
  letter-spacing: 0.06em;
  color: #000;
}
.about-pet--body__description--sub-h {
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  padding-top: 10px;
  color: #000;
}
@media (max-width: 767px) {
  .about-pet--body__description--sub-h {
    text-align: center;
  }
}
.about-pet--body__description--p {
  display: inline-block;
  max-width: 350px;
  font-weight: 400;
  font-size: 15px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #000;
  padding-top: 35px;
}
@media (max-width: 1020px) {
  .about-pet--body__description--p {
    padding-top: 15px;
    font-size: 13px;
  }
}
@media (max-width: 767px) {
  .about-pet--body__description--p {
    text-align: justify;
    display: inline-block;
    width: 220px;
  }
}
.about-pet--body__description--list {
  padding-top: 35px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media (max-width: 1020px) {
  .about-pet--body__description--list {
    padding-top: 15px;
    gap: 5px;
  }
}
@media (max-width: 767px) {
  .about-pet--body__description--list {
    align-self: flex-start;
    margin-left: 10px;
  }
}
.about-pet--body__description--item {
  font-weight: 400;
  letter-spacing: 0.06em;
  line-height: 110%;
  color: #000;
  font-size: 20px;
}
@media (max-width: 1020px) {
  .about-pet--body__description--item {
    font-size: 15px;
  }
}
.about-pet--body__description--item::before {
  content: "•";
  color: var(--color-primary);
  display: inline-block;
  padding-right: 10px;
}

.button {
  height: 52px;
  background-color: var(--color-primary);
  border-radius: 100px;
  border: none;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: var(--color-dark-xxxl);
}
.button--header {
  width: 207px;
}
.button--header:hover {
  background-color: transparent;
  color: var(--color-light-s);
  border: 2px solid var(--color-primary);
}
.button--carusel {
  width: 52px;
  background-color: transparent;
  border: 3px solid var(--color-primary);
  display: flex;
  justify-content: center;
}
.button--carusel:hover {
  background-color: var(--color-primary);
  border: none;
  color: var(--color-dark-xxxl);
}
.button--card-pets {
  width: 187px;
  background-color: transparent;
  border: 2px solid var(--color-primary);
  font-size: 17px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: var(--color-dark-xxxl);
}
.button--card-pets:hover {
  background-color: var(--color-primary);
  border: none;
  color: var(--color-dark-xxxl);
}
.button--pets {
  width: 261px;
  margin-top: 60px;
}
@media (max-width: 767px) {
  .button--pets {
    margin-top: 20px;
  }
}
.button--pets:hover {
  background-color: transparent;
  border: 3px solid var(--color-primary);
}

.burger-button {
  width: 60px;
  aspect-ratio: 1;
  position: relative;
  padding: 0;
  background-color: transparent;
  border: 0;
}
.burger-button::after {
  content: "";
  width: 30px;
  height: 2px;
  background-color: var(--color-primary);
  position: absolute;
  top: 50%;
  left: 50%;
  translate: 0% -50%;
  box-shadow: 0 -8px var(--color-primary), 0 8px var(--color-primary);
}

.mobile-overlay {
  width: 100%;
  height: 100%;
  margin: 0;
  border: none;
  background-color: var(--color-dark-xxxl);
}
.mobile-overlay:modal {
  max-width: 100%;
  max-height: 100%;
}
.mobile-overlay--close-button-wrapper {
  display: flex;
  justify-content: end;
}
.mobile-overlay--close-button {
  width: 60px;
  aspect-ratio: 1;
  border: 0;
  background-color: transparent;
  position: relative;
  padding: 0;
}
.mobile-overlay--close-button::after {
  content: "";
  width: 2px;
  height: 30px;
  background-color: var(--color-primary);
  position: absolute;
  top: 25%;
  left: 75%;
  box-shadow: 8px 0 var(--color-primary), -8px 0 var(--color-primary);
}
.mobile-overlay--list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.mobile-overlay--body {
  margin-top: 170px;
}
.mobile-overlay--link {
  font-family: var(--font-family-second);
  font-weight: 400;
  font-size: 32px;
  line-height: 160%;
  color: var(--color-dark-s);
}
.mobile-overlay--link:hover {
  color: var(--color-light-s);
  text-decoration: underline;
  text-decoration-color: var(--color-primary);
  text-decoration-thickness: 3px;
  text-underline-offset: 0.4em;
}

.header {
  background: url("../images/start-screen-background.png"), linear-gradient(338deg, rgb(38, 36, 37) 23%, rgb(91, 72, 58) 100%);
  padding-top: 30px;
}
@media (max-width: 767px) {
  .header {
    padding-top: 15px;
  }
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}
.header__logo-title {
  color: var(--color-primary);
}
.header__logo-subtitle {
  font-family: var(--font-family-second);
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 0.1em;
  color: var(--color-light-xl);
}
.header__menu {
  margin-left: auto;
  font-size: 15px;
}
.header__menu-list {
  display: flex;
  align-items: center;
  gap: 35px;
}
.header__menu-link {
  font-family: var(--font-family-second);
  color: var(--color-dark-s);
  font-weight: 400;
  line-height: 160%;
  display: inline-flex;
  height: 60px;
  align-items: center;
}
.header__menu-link:hover {
  color: var(--color-light-s);
  text-decoration: underline;
  text-decoration-color: var(--color-primary);
  text-decoration-thickness: 3px;
  text-underline-offset: 0.4em;
}
.header__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 85px;
}
@media (max-width: 1020px) {
  .header__main {
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
  }
}
@media (max-width: 767px) {
  .header__main {
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
  }
}
.header__main--content {
  min-height: 322px;
}
@media (max-width: 1020px) {
  .header__main--content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header__main--content-h {
    align-self: flex-start;
  }
}
@media (max-width: 767px) {
  .header__main--content {
    min-height: 300px;
  }
  .header__main--content-h {
    align-self: center;
    max-width: 300px;
    font-size: 25px;
    text-align: center;
  }
  .header__main--content-sub-h {
    max-width: 300px;
    margin-top: 42px;
    margin-bottom: 42px;
    text-align: center;
  }
}
.header__main--content-h {
  max-width: 310px;
  color: var(--color-light-xl);
}
.header__main--content-sub-h {
  max-width: 460px;
  font-family: var(--font-family-second);
  font-size: 15px;
  line-height: 160%;
  color: var(--color-dark-s);
  margin-top: 50px;
  margin-bottom: 42px;
}

.about {
  background-color: var(--color-light-xl);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 125px;
  min-height: 588px;
}
@media (max-width: 1020px) {
  .about {
    min-height: 1048px;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
}
@media (max-width: 767px) {
  .about {
    min-height: 974px;
    margin-top: 45px;
    gap: 40px;
  }
}
.about__main {
  max-width: 430px;
  min-height: 380px;
}
@media (max-width: 767px) {
  .about__main {
    max-width: 300px;
    min-height: 494px;
  }
  .about__main--h {
    text-align: center;
    font-size: 25px;
    max-width: 300px;
    line-height: 130%;
    letter-spacing: 0.06em;
  }
  .about__main--sub-h {
    text-align: justify;
  }
}
.about__main--h {
  max-width: 370px;
  min-height: 90px;
  color: var(--color-dark-l);
  font-size: 35px;
}
.about__main--sub-h {
  max-width: 430px;
  font-family: var(--font-family-second);
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: var(--color-dark-xl);
  margin-top: 25px;
}

.pets {
  background-color: var(--color-light-l);
  padding-top: 80px;
  min-height: 877px;
}
@media (max-width: 767px) {
  .pets {
    padding-top: 30px;
    min-height: 791px;
  }
}
.pets__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pets__head {
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  color: var(--color-dark-l);
  display: inline-block;
  max-width: 400px;
  margin-bottom: 60px;
  text-align: center;
}
@media (max-width: 767px) {
  .pets__head {
    font-size: 25px;
    margin-bottom: 40px;
  }
}
.pets__nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 55px;
}
@media (max-width: 1280px) {
  .pets__nav {
    gap: 7px;
    overflow: hidden;
  }
}
@media (max-width: 767px) {
  .pets__nav__carusel {
    order: 1;
  }
  .pets__nav .button {
    order: 2;
  }
  .pets__nav {
    max-width: 270px;
    flex-wrap: wrap;
    row-gap: 20px;
    -moz-column-gap: 80px;
         column-gap: 80px;
    align-items: flex-start;
  }
}
.pets__carusel {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 89px;
  overflow: hidden;
  scroll-behavior: smooth;
  max-width: 988px;
}
@media (max-width: 1280px) {
  .pets__carusel {
    gap: 40px;
    overflow: hidden;
  }
}
@media (max-width: 1020px) {
  .pets__carusel {
    max-width: 708px;
    gap: 30px;
    overflow: hidden;
  }
}
.pets__card {
  background-color: var(--color-light-s);
  border-radius: 9px;
  width: 270px;
  height: 435px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
@media (max-width: 1020px) {
  .pets__card:nth-child(3n) {
    display: none;
  }
}
@media (max-width: 767px) {
  .pets__card:not(:first-child) {
    display: none;
  }
}
.pets__card--title {
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.06em;
  color: var(--color-dark-l);
}
.pets__card:hover {
  background-color: #fff;
}

.help {
  background-color: var(--color-light-xl);
  padding-top: 80px;
  min-height: 611px;
}
@media (max-width: 1020px) {
  .help {
    min-height: 779px;
  }
}
.help__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 65px;
}
.help--head {
  display: inline-block;
  max-width: 308px;
  font-weight: 400;
  font-size: 35px;
  text-align: center;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: var(--color-dark-l);
}
.help__contain {
  max-width: 1026px;
  min-height: 281px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  -moz-column-gap: 120px;
       column-gap: 120px;
  row-gap: 55px;
}
@media (max-width: 1020px) {
  .help__contain {
    max-width: 630px;
    height: 449px;
    gap: 0;
    justify-content: space-between;
  }
}
@media (max-width: 767px) {
  .help__contain {
    max-width: 290px;
    height: 555px;
    gap: 0;
    justify-content: space-between;
  }
}
.help__contain__item {
  height: 113px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1020px) {
  .help__contain__item {
    width: 170px;
  }
}
@media (max-width: 767px) {
  .help__contain__item {
    height: 87px;
    width: 130px;
  }
}
.help__contain__item--title {
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: var(--color-dark-l);
}
@media (max-width: 767px) {
  .help__contain__item--title {
    font-size: 15px;
  }
}/*# sourceMappingURL=styles.css.map */